<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Family Planner</title>
    <link rel="icon" type="image/x-icon" href="/img/icons8-planner-16.png">
</head>
<body>

    {{{body}}}

</body>
</html>